body {
    /* box-sizing: border-box;  */
    /* border: 1px solid black; */
    margin: 0%;
    background-color: WhiteSmoke;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin: 0%;
    height: 50px;
    align-items: center;
    font-family: "Arial",  sans-serif;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: White;
    position: fixed;
    width: 100vw;
    top: 0;
}

#navbar h2 {
    font-family: "Comfortaa", cursive;
}

#user {
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-family: "Arial", sans-serif;
}

#user a {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

#u {
    color: black;
}

aside {
    position: fixed;
    width: 30vw;
    right: 50px;
    top: 100px;
    height: 100vh;
    font-family: "Arial", sans-serif;
    /* padding: 0%; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#pic_user {
    width: 100%;
    font-size: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-family: "Comfortaa", cursive;
}

.image1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 3%;
    display: flex;
    justify-content: flex-start;
}

#suggested {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    padding: 1%;
}

#suggested h2 {
    margin-left: 2%;
    color: black;
}

.gray {
    color: #696969;
    font-weight: normal;
}

.account1 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 2%;
    margin-left: 2%;
    font-weight: bold;
}

#name * {
    margin: 0px;
}

#name a {
    color: black;
}

.account1 * {
    margin-right: 5%;
}

.account1 > a {
    position: fixed;
    margin-left: 210px;
}

a {
    text-decoration: none;
}

.blue {
    color: #000080;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#stories {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid white;
    width: calc(98vw - 50vw);
    margin: calc(50px + 1%) 1% 1% 1%;
    font-family: "Arial", sans-serif;
    margin-left: 10vw;
}

.story {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story a {
    color: #696969;
}

.st {
    border: 3px solid Gainsboro;
}

.mainpic {
    height: 500px;
    border-radius: 0%;
    width: calc(98vw - 50vw);
}

#card {
    display: flex;
    flex-direction: column;
    width: calc(98vw - 50vw);
    background-color: white;
    border: 1px solid gray;
    margin-left: 10vw;
    /* margin-right: -8vw; */
    margin-bottom: 2%;
    font-family: "Arial",  sans-serif;
}

#reaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
}

#react {
    display: flex;
    flex-direction: row;
}

#react * {
    margin-right: 10%;
}

#poster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    font-family: "Comfortaa", cursive;
}

#poster a {
    font-size: 20px;
    color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}

#likes {
    margin-left: 1%;
    font-weight: bold;
    margin-bottom: -20px;
}

#caption {
    /* display: flex;
    flex-flow: row wrap; */
    flex-wrap: wrap;
    margin-left: 1%;
    /* word-wrap: break-word; */
    /* align-items: center; */
    margin-bottom: -10px;
}
#caption * {
    margin-right: 1%;
}

/* #caption a {
    margin-top: 0px;
    margin-bottom: 0px;
} */

#caption_user {
    font-weight: bold;
    color: black;
}

#comments {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

#comments > a {
    margin-left: 10px;
    margin-bottom: 5px;
}

.comment {
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-direction: row;
}

.comment * {
    margin-right: 1%;
    margin-top: 0px;
}

#time {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #696969;
    text-transform: uppercase;
}

.comment_user {
    font-weight: bold;
    color: black;
}

hr {
    color: gray;
    width: calc(100% - 1px);
}

#make_comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

#type {
    display: flex;
    width: 85%;
    align-items: center;
}

#type * {
    margin-right: 2%;
}

#type a {
    color: #696969;
}

i {
    font-size: 25px;
    color: black;
}

@media only screen and (max-width: 1000px) {
    aside {
        display: none;
    }
    #card {
        width: 75vw;
    }
    .mainpic {
        width: 75vw;
    }
    #stories {
        width: 75vw;
    }
}